
on shutdown
    setprop service.media.powersnd 0
    start powersound

service powersound /system/bin/samsungpowersoundplay
    class main
    user audioserver
    group system
    disabled
    oneshot
